<div class="content-area">
    <div class="init">Complaints</div>
    <div class="content-list">
        
        <% complaintsList.slice().reverse().forEach(function(complaint){ %>
            <a href="/complaint/<%= complaint._id %>" class="product-link" id='<%=complaint._id%>'>
                <div class="content">
                    <div class="author">
                        <div class="author-pic"><img src=<%=complaint.authorId.displayPic == "" ? "/images/womenSafety.jpg" : "/user_images/" +  complaint.authorId._id + "/displayPic/" +  complaint.authorId.displayPic %> alt="" class="author-img"></div>
                        <div class="author-info">
                            <div class="author-name">
                                <%= complaint.authorName %>
                            </div>
                            <div class="author-contact">
                                <%= complaint.authorEmail %> , <%= complaint.authorPhone %>
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="product-pic">
                            <img src="/complaint_images/<%= complaint._id %>/<%= complaint.files[0] %>" alt="img"
                                class="product-pic-img">
                        </div>
                        <div class="product-info">
                            <!-- <div class="product-details"><span class="detail-headings"> price : </span><%= complaint.price %>
                            </div> -->
                            <div class="product-details"><span class="detail-headings"> complaint against : </span><%= complaint.accused %>
                            </div>
                            <div class="product-details"><span class="detail-headings"> description : </span><%= complaint.description %>
                            </div>
                        </div>
                    </div>
                    <div class="others">
                        <span class="type">status :<%=complaint.status%></span>

                    </div>

                </div>
            </a>
            <% }); %>
    </div>
</div>