<%- include ('partials/headerAdmin.ejs')%>

            <div class="stage">
                
                <div class="info">
                    <%for( const pindx  in Object.keys(complaint.files)){ %>
                    <div id="<%=pindx%>"><%= complaint.files[pindx] %></div>
                    <%};%>  </div>
                <div class="left-stage"></div>
                <div class="center-stage">
                    <div class="content-area">
                        <!-- <div class="init">init</div> -->
                        <h2>Complaint Details</h2>
                        <div class="product-div" id="product-div-id">
                            <div class="div-group">
                                <!-- jhii -->
                                <div class="imageArea">
                                    <button class="img-left">left</button>
                                    <img alt="img" class="productImg" src=<%=complaint.files.length == 0 ? "/images/womenSafety.jpg" : "/complaint_images/" + complaint._id +"/" +  complaint.files[0] +"" %> >
                                    <button class="img-right">right</button>
                                    <span class="img-nums"><span class="img-index">1</span> of <span class="img-tot"><%=Object.keys( complaint.files).length%></span></span>
                                </div>
                                <br>
                                <!-- <label for="" class="label-group">Image :</label> -->
                                <!-- <input type="file" class="image" name="productImage" multiple id="img"> -->

                            </div>


                            <div class="div-group">
                                <label for="" class="label-group">Name :</label>
                                <%= complaint.authorName %>
                            </div>

                            <div class="div-group">
                                <label for="" class="label-group"> Accused Persons :</label>
                                <%complaint.accused.forEach(function(acc){%>
                                    <div><%=acc%></div>
                                <%});%>
                            </div>
                            

                            <div class="div-group">
                                <label for="" class="label-group">Date :</label>
                                <%= complaint.date %>
                            </div>
                            <div class="div-group">
                                <label for="types" class="label-group">Complainer Department :</label>
                                <%= complaint.department %>
                                    
                            </div>
                            <div class="div-group">
                                <div><label for="" class="label-group">Complaint Description :</label></div>
                                <%= complaint.description %>
                                    <!-- <textarea name="productDescription" id="" cols="30" rows="10" class="inputText textArea"
                            placeholder="Description" div="product-div-id"></textarea> -->

                            </div>
                            <h2>Contact Details</h2>

                            <div class="div-group">
                                <label for="" class="label-group">Phone No. :</label>
                                <%= complaint.authorPhone %>
                                    <!-- <input type="text" class="inputText" name="authorPhoneNo" placeholder="default no."> -->

                            </div>
                            <div class="div-group">
                                <label for="" class="label-group">Email id :</label>
                                <%= complaint.authorEmail%>
                                    <!-- <input type="text" class="inputText" name="authorEmail" placeholder="default email"> -->

                            </div>
                            
                            <div class="div-group">
                                <form action="/admin/changeStatus/<%= complaint._id %>" method="POST">
                                    <label for="types" class="label-group">Complain Status :</label>
                                    <select name="status"  class="typeList" >
                                        <option value="pending" <%= complaint.status == 'acknowledged' ? 'selected' : '' %>>pending</option>
                                        <option value="acknowledged" <%= complaint.status == 'acknowledged' ? 'selected' : '' %>>acknowledged</option>
                                        <option value="investigating" <%= complaint.status == 'investigating' ? 'selected' : '' %>>investigating</option>
                                        <option value="cleared" <%= complaint.status == 'cleared' ? 'selected' : '' %>>cleared</option>
                                        
                                    </select>
                                <!-- <input type="submit" class="submit-btn"> -->
                                <button class="submit-btn" type="submit">Save</complaint.status></button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="right-stage"></div>
            </div>



            <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script>
                var im;
                var index;
                var tot = parseInt($('.img-tot').text());

                $(".img-left").click(function () {
                    index = parseInt($('.img-index').text());
                    if (index > 1) {
                        index = index - 1;
                        divid = `#${index-1}`;im=$(`${divid}`).text();
                        $('.productImg').attr('src', `/complaint_images/<%= complaint._id %>/${im} %>`);
                        $('.img-index').text(index);
                    }
                });
                $(".img-right").click(function () {
                    index = parseInt($('.img-index').text());
                    if (index < tot) {
                        index = index + 1;divid = `#${index-1}`;im=$(`${divid}`).text();
                        $('.productImg').attr('src', `/complaint_images/<%= complaint._id %>/${im} %>`);
                        $('.img-index').text(index);
                    }
                });
            </script>
</body>

</html>